@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

a {
  color: #fff;
}

a:hover {
  color: #FF0420;
}

body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(90deg, #000, #202327);
  color: #fff;
}

p {
  font-size: 18px;
}

div {
  font-size: 18px;
}

hr {
  background-color: #fff;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:disabled {
  background: transparent;
  box-shadow: none;
  color: #fff;
  border: 2px solid white;
}

.btn-primary:hover {
  color: #fff;
  background: #FF0420;
  border: 2px solid #FF0420;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:disabled {
  background: white;
  border-color: black;
  box-shadow: none;
  color: black;
  border: 2px solid black;
}

.btn-secondary:hover {
  color: black;
  border-color: #ffffff;
  background: #ffffff;
  border: 2px solid black;
}

.container {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.home-punchline-domain {
  color: #FF0420;
}

.img-thumbnail {
  background-color: transparent;
}

.modal-content {
  color: black;
}

.navbar-brand {
  font-family: 'Rubik', sans-serif;
  
}

.navbar-dark .navbar-brand {
  /*color: #fff;*/
  color: #FF0420;
  font-style: italic;
  font-weight: 500;
  font-size: 1.5em;
}

.navbar-dark {
  border-radius: 0px 0px 10px 10px;
  /*background: linear-gradient(30deg, #C71585 30%, #c111c3 100%);*/
  background: transparent;
  padding: 20px;
  
}
.navbar-img {
  margin-right: 5px;
}

.span-link:hover {
  color: #FF0420;
  text-decoration: none;
  cursor: pointer;
}

.span-link {
  text-decoration: underline;
}

.Vue-Toastification__toast--info {
  background-color: #464555;
}

.Vue-Toastification__toast--success {
  background-color: #00925D;
}

.Vue-Toastification__toast--error {
  background-color: #DF2E00;
}

@media only screen and (max-width: 767px) {
  .navbar-menu-btn {
    margin-bottom: 5px;
  }
  .navbar-other-item {
    margin-top: 10px;
  }
  .navbar-menu-buttons {
    display: flex;
    flex-direction: column;
  }
  #sidebar-container {
    margin-bottom: 15px;
  }
}